@charset 'UTF-8';

// Backgrounds -----------------------------------------------------------

@each $name,
$color in $cl-main {
  .bg-#{$name} {
    background-color: $color;
  }
}

// Text colors -----------------------------------------------------------

@each $name,
$color in $cl-main {
  .text-#{$name} {
    color: $color;
  }
}

// Border ----------------------------------------------------------------

.border {
  border: 1px solid map-get($cl-main, dark);
}

// List ------------------------------------------------------------------

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

@import 'utils/spacer', 'utils/text';
