@charset 'UTF-8';
@import '_variables';

*,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-size: 1em; // 18px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

var {
    font-style: normal;
}

progress[value] {
    -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: map-get($scheme, green);

}