@charset 'UTF-8';
@import '_variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: map-get($clrs, 'brown');
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1em; // 18px

}

#game {
  background-color: map-get($clrs, 'dark');
  margin-top: 1.5rem;
}
