@charset 'UTF-8';
$base-size: 16px; // Font base size

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    direction: ltr;
}

body {
    font-size: $base-size;
    padding: 0;
    margin: 0;
}

@for $i from 1 through 6 {

    h#{$i},
    .h#{$i} {
        // Each Heading is 25% smaller than his predecessor
        // For example, <h1> is 25% bigger than <h2>
        font-size: $base-size * (2.5 - ($i * 0.25));
    }
}

.lead {
    font-size: $base-size * 1.25; // Equals <h6> font size
    font-weight: bold;
}
