@charset 'UTF-8';

// Text Utils
.text-l {
    text-align: left;
}

.text-c {
    text-align: center;
}

.text-r {
    text-align: right;
}

.text-j {
    text-align: justify;
}

.text-up {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}